@mixin focusEffect($color: rgba(13, 110, 253, 0.5)) {
    transition: box-shadow 200ms linear;
    &:focus {
        transition: box-shadow 200ms linear;
        outline: none;
        box-shadow: 0px 0px 0px 3px $color;
    }
}
